@charset "UTF-8";
/* ---------------------------------------------
  reset
--------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* 解析タグの隙間対策 */
body > img {
  display: none;
}

.lp_main div, .lp_main span, .lp_main iframe, .lp_main h1, .lp_main h2, .lp_main h3, .lp_main h4, .lp_main h5, .lp_main h6, .lp_main p, .lp_main address, .lp_main img, .lp_main small, .lp_main strong, .lp_main sub, .lp_main sup, .lp_main dl,
.lp_main dt, .lp_main dd, .lp_main ol, .lp_main ul, .lp_main form, .lp_main label, .lp_main table, .lp_main caption, .lp_main tbody, .lp_main tfoot, .lp_main thead, .lp_main tr, .lp_main th, .lp_main td, .lp_main article,
.lp_main aside, .lp_main footer, .lp_main header, .lp_main menu, .lp_main nav, .lp_main section, .lp_main video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: baseline;
}
.lp_main article, .lp_main aside, .lp_main details, .lp_main figcaption, .lp_main figure,
.lp_main footer, .lp_main header, .lp_main menu, .lp_main nav, .lp_main section {
  display: block;
}
.lp_main ol, .lp_main ul {
  list-style: none;
}
.lp_main :focus {
  outline: 0;
}
.lp_main table {
  border-collapse: collapse;
  border-spacing: 0;
}
.lp_main *,
.lp_main *::before,
.lp_main *::after {
  box-sizing: border-box;
}
.lp_main img,
.lp_main video,
.lp_main svg {
  display: block;
  height: auto;
  vertical-align: bottom;
  width: 100%;
  max-width: 100%;
}


/* ---------------------------------------------
  common
--------------------------------------------- */
/* スムーススクロール */
html {
  scroll-behavior: smooth;
}
.lp_main {
  width: min(100%, 750px);
  margin: 0 auto;
}

/* positionで配置したい要素の外側に使用 */
.lp_main .p_box {
  position: relative;
}

/* ---------------------------------------------
  動画
--------------------------------------------- */
.douga {
  position: relative;
}
.douga .cv_btn {
  position: absolute;
  top: 74%; 
  transform: translateX(-0%);
}

/* ---------------------------------------------
  cv
--------------------------------------------- */
.lp_main .cv_area {
  margin-bottom: 5%;
}
.lp_main .cv_btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  width: calc(588 / 750 * 100%);
  margin: 0 auto;
}
/* ---------------------------------------------
  cv4
--------------------------------------------- */
.lp_main .cv_area {
  margin-bottom: 5%;
}
.lp_main .cv_btn4 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 18%;
  width: calc(588 / 750 * 100%);
  margin: 0 auto;
}


/* ---------------------------------------------
  cv3
--------------------------------------------- */
.lp_main .cv_area {
  margin-bottom: 5%;
}
.lp_main .cv_btn3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8%;
  width: calc(588 / 750 * 100%);
  margin: 0 auto;
}

/* ---------------------------------------------
  cv2
--------------------------------------------- */
.lp_main .cv_area {
  margin-bottom: 5%;
}
.lp_main .cv_btn2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  width: calc(588 / 750 * 100%);
  margin: 0 auto;
}